<script>
	 function allowedUsersFormatResult(user) {
		    var markup = "<table class='allowed-users-result'><tr>";
		    markup += "<td class='user-info'><div class='user-name'>" + user.name + "</div>";
		    markup += "</td></tr></table>"
		    return markup;
		}

		function allowedUsersFormatSelection(user) {
		    return (user.name);
		}				
</script>	


	
<script>								
		 $(document).ready(function() {							
			$('#directory_allowed_user_ids_').select2({
				multiple: true,
			    placeholder: "<%=t('activerecord.attributes.user.name')%>",
			    ajax: {
				    url: "/<%=I18n.t('general.routes.user_path_name')%>.json",
				    dataType: 'json',
				    quietMillis: 100,
				    data: function (term, page) {
					    return {
						    q: term, 
						    page_limit: 10,
						    page: page
					    };
				    },
			    	results: function (data, page) {
			    		var more = (page * 10) < data.total; 
			    		return {results: data.users, more: more};
			    	}
			    },
			    formatResult: allowedUsersFormatResult,
			    formatSelection: allowedUsersFormatSelection, 
			    dropdownCssClass: "bigdrop", 
				formatSearching: function () { return "<%=t('select2.formatSearching')%>"; },
				formatNoMatches: function () { return "<%=t('select2.formatNoMatches')%>"; },			
				escapeMarkup: function (m) { return m; }
		    });		
				
			$.getJSON("/<%=I18n.t('general.routes.directory_path_name')%>/<%=@directory.id%>.json?allowed_users_json=true", function(opts){
				$('#directory_allowed_user_ids_').select2('data', opts );
			})											
		});				
</script>

<script>								
		 $(document).ready(function() {							
			$('#directory_owner_ids_').select2({
				multiple: true,
			    placeholder: "<%=t('activerecord.attributes.user.name')%>",
			    ajax: {
				    url: "/<%=I18n.t('general.routes.user_path_name')%>.json",
				    dataType: 'json',
				    quietMillis: 100,
				    data: function (term, page) {
					    return {
						    q: term, 
						    page_limit: 10,
						    page: page
					    };
				    },
			    	results: function (data, page) {
			    		var more = (page * 10) < data.total; 
			    		return {results: data.users, more: more};
			    	}
			    },
			    formatResult: allowedUsersFormatResult,
			    formatSelection: allowedUsersFormatSelection, 
			    dropdownCssClass: "bigdrop", 
				formatSearching: function () { return "<%=t('select2.formatSearching')%>"; },
				formatNoMatches: function () { return "<%=t('select2.formatNoMatches')%>"; },			
				escapeMarkup: function (m) { return m; }
		    });		
				
			$.getJSON("/<%=I18n.t('general.routes.directory_path_name')%>/<%=@directory.id%>.json?owners_json=true", function(opts){
				$('#directory_owner_ids_').select2('data', opts );
			})											
		});				
</script>

