<%= form_for @directory, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :private, :class => 'control-label' %>
	<div class="controls">
	    <%= f.label :private, :class => 'checkbox' do %>
			<%= f.check_box :private  %>
		<% end %>
	</div>
  </div>
  <div class="control-group" id='allowed-users-div'>
    <%= f.label :allowed_users, :class => 'control-label' %>
	<div class="controls">
		<%= hidden_field_tag "directory[allowed_user_ids][]", nil, :style => 'width: 300px' %>
		<%= show_custom_error(@directory, 'allowed_user_ids') %>
	</div>
  </div>
  <div class="control-group" id='allowed-users-div'>
    <%= f.label :add_owner, :class => 'control-label' %>
	<div class="controls">
		<%= hidden_field_tag "directory[owner_ids][]", nil, :style => 'width: 300px' %>
	</div>
  </div>
  <%= render partial: 'directory_allowed_users_select2_config' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                directories_path, :class => 'btn' %>
  </div>
<% end %>
