<%- model_class = Directory -%>
<%- title(model_class.model_name.human.titleize.pluralize) -%>
<%- tag_title(model_class.model_name.human.titleize.pluralize) -%>

<% if @directories.any? %>
	<table class="table table-striped table-hover clicable datatable">
	  <thead>
	    <tr>
	      <th><%=i('icon-folder-close')%> <%= model_class.human_attribute_name(:title) %></th>
	      <th><%=i('icon-eye-open')%> <%= model_class.human_attribute_name(:visibility) %></th>
	      <th><%=i('icon-calendar')%> <%= model_class.human_attribute_name(:created_at) %></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @directories.each do |directory| %>
	      <tr id="<%=directory_path(directory)%>">
	        <td><%= directory.title %></td>
	        <td><%= private_visibility_labeling(directory.private) %></td>
	        <td><%=l directory.created_at, format: :short %></td>
	        <td>
	          <%= link_to i('icon-pencil'),
	                      edit_directory_path(directory), :class => 'btn btn-mini' %>
	          <%= link_to i('icon-trash'),
	                      directory_path(directory),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<hr>
	<%= info_alert(t('general.alerts.no_directories_found')) %>
	<hr>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_directory_path,
            :class => 'btn btn-primary' %>
