<%- model_class = Directory -%>
<%- title(@directory.title) -%>
<%- tag_title(@directory.title) -%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @directory.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @directory.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owners) %>:</strong></dt>
  <dd><% @directory.owners.each {|o|%><%=o.name%><br/><%}%></dd>
  <dt><strong><%= model_class.human_attribute_name(:visibility) %>:</strong></dt>
  <dd><%=private_visibility_labeling(@directory.private) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allowed_users) %>:</strong></dt>
  <dd><% @directory.allowed_users.each {|o|%><%=o.name%><br/><%}%></dd>
</dl>
<% if @directory.su_files.any? %>
	<table class="table table-striped table-hover">
	  <tbody>
	    <% @directory.su_files.each do |file| %>
	      <tr>
	        <td><%= link_to file.upload_file_name, file.upload.url %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<%= info_alert(t('general.alerts.no_files_found')) %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              directories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_directory_path(@directory), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              directory_path(@directory),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to t('general.links.manage_files'), directory_su_files_path(@directory), class: 'btn pull-right'%>
</div>