<center>
	<h2 class='app_name'><%= t('general.app_name') %></h2>
</center>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-auth' }) do |f| %>

  <div class="form-auth-fields">
  	<%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), class: 'input-block-level', autofocus: true %></div>
  </div>
  <div class="bootstrap_flash"><%=bootstrap_flash%></div>

  <div><%= f.submit t('devise.links.resend_confirmation_instructions') %></div>
<% end %>

<% content_for :bottom_navabar_left_content do %>
	<%- if controller_name != 'sessions' %>
		<%= link_to t('devise.links.log_in'), new_session_path(resource_name), class: "navbar-text"  %>
	<% end -%>
<% end %>

<% content_for :bottom_navabar_right_content do %>
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		<%= link_to t('devise.links.sign_up'), new_registration_path(resource_name), class: "navbar-text pull-right navbar-bottom-link" %>
	<% end -%>
<% end -%>
