<center>
  <h2 class='app_name'><%= t('general.app_name') %></h2>
</center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-auth' }) do |f| %>
  
  <div class="form-auth-fields">
    <%= f.email_field :email, class: 'input-block-level', placeholder: t('activerecord.attributes.user.email'), autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, class: 'input-block-level', placeholder: t('activerecord.attributes.user.password'), autocomplete: "off" %>
    <%= f.password_field :password_confirmation, class: 'input-block-level', placeholder: t('activerecord.attributes.user.password_confirmation'), autocomplete: "off" %>
    <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, class: 'input-block-level', placeholder: t('activerecord.attributes.user.current_password'), autocomplete: "off" %>
  </div>
  <div class="bootstrap_flash"><%=bootstrap_flash%></div>
  
  <div><%= f.submit t('helpers.links.update') %></div>
<% end %>

<% content_for :bottom_navabar_left_content do %>
	<%- if controller_name != 'sessions' %>
		<%= link_to t('devise.links.log_in'), new_session_path(resource_name), class: "navbar-text navbar-bottom-link"  %>
	<% end -%>
<% end -%>

<% content_for :bottom_navabar_right_content do %>
	<p><%= button_to t("devise.links.cancel_my_account"), registration_path(resource_name), data: { confirm: t('helpers.links.confirm') }, class: 'pull-right navbar-text navbar-bottom-link', method: :delete %></p>
<% end %>

<%= link_to "Back", :back %>
