<center>
	<h2 class='app_name'><%= t('general.app_name') %></h2>
</center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-auth'}) do |f| %>
  
  <div class="form-auth-fields">
    <%= f.text_field :name, autofocus: true, class: 'input-block-level', placeholder: t('activerecord.attributes.user.name') %>
    <%= f.email_field :email, autofocus: true, class: 'input-block-level', placeholder: t('activerecord.attributes.user.email') %>
	  <%= f.password_field :password, autocomplete: "off", class: 'input-block-level', placeholder: t('activerecord.attributes.user.password') %>
	  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-block-level', placeholder: t('activerecord.attributes.user.password_confirmation') %>
  </div>
  <div class="bootstrap_flash"><%=bootstrap_flash%></div>

  <div><%= f.submit t('devise.links.sign_up'), class: "btn" %></div>
<% end %>



<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
    	<div class="row">
    		<div class="span4">
				<%- if controller_name != 'sessions' %>
				  <%= link_to t('devise.links.log_in'), new_session_path(resource_name), class: "navbar-text"  %>
				<% end -%>
    		</div>
    		<div class="span4">
		      	<center><p class="navbar-text">&copy; <%="#{t('general.company_name')} - #{Time.now.year}"%></p></center>
    		</div>
    	</div>
    </div>
  </div>
</div>